.nav {
  $n: &;

  &_aside {
    @extend .nav, .flex-column;

    flex-grow: 1;
    padding-right: 2rem;

    #{$n}-item {
      &_user {
        margin-top: auto;
      }
    }

    #{$n}-link {
      color: #fff;
      font-weight: 500;
      padding: 1rem 2rem;
      text-transform: uppercase;
      clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);

      &:after {
        top: -1px;
        content: '';
        right: -7px;
        width: 26px;
        height: 4px;
        position: absolute;
        background-color: #6b54b6;
        transform: rotate(45deg) scaleX(0);
        transform-origin: 0 0;
        transition: .3s cubic-bezier(.47, .11, 0, .96);
      }

      &:hover, &.active {
        background-color: #21132c;
        filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44)) !important;

        &:after {
          transform: rotate(45deg) scaleX(1.1);
        }
      }
    }
  }
}
