$body-bg: #1b0f23;
$surface-bg: #21132c;

$body-color: #fff;

$faceit: #fa490a;
$primary: #6b54b6;
$secondary: #232728;
$headings-font-weight: 700;

$font-family-sans-serif: 'Montserrat', sans-serif;
